{% block company_social_media_list %}
    {% set socials = company_socials|deserialize %}
    {% if socials|length > 0 %}
        <ul class="company_social-media">
        {% for row in socials %}
            {%- if row.social|default %}
                <li>
                    {{ include('@Contao/company/component/_link.html.twig', {
                        link: row.social,
                        href: row.url,
                    }) }}
                </li>
            {% endif -%}
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
